body 
{
	background-color: #505050;
    background-image: url(resources/doft_crop.jpg);
    background-size: cover;
}

.top-nav
{
    margin: 0 auto;
    width: 75vw;
    height: 16vh;
    border-radius: 8px;
    box-shadow: 8px 6px 0px 0px #000;
    background-color: #909090;
}

.left-nav
{
    background-color: #909090;
    position: absolute;
    height: 45vh;
    width: 7.5vw;
    top: 19vh;
    left: 14vw;
    box-shadow: 8px 6px 0px 0px #000;
    border-radius: 8px;
}

.right-nav
{
    background-color: #909090;
    position: absolute;
    height: 45vh;
    width: 7.5vw;
    top: 19vh;
    right: 13.5vw;
    box-shadow: 8px 6px 0px 0px #000;
    border-radius: 8px;
}

.main-img
{
    background-color: #909090;
    position: absolute;
    top: 19vh;
    left: 23vw;
    margin-left: auto;
    margin-right: auto;
    height: 59vh;
    width: 53vw;
    box-shadow: 10px 10px 5px #000;
    border-radius: 10px;
    background-image: url(resources/cluster.jpg);
    background-size: cover;
    border: 10px solid #909090;
}

.top-nav img:first-of-type
{
    position: inherit;
    margin: auto;
    width: 25vw;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    border-radius: inherit;
}

.top-nav img:nth-child(2)
{
    position: relative;
    float: right;
    right: 2VW;
    top: 1vh;
    width: 15vw;
}

.top-nav img:nth-child(3)
{
    position: relative;
    height: auto;
    width: 1.2vw;
    top: -13vh;
    left: 48vw;
}

.top-nav img:nth-child(4)
{
    position: relative;
    height: auto;
    width: 1.2vw;
    top: -1vh;
    left: 46.5vw;
}

.left-nav img
{
    height: auto;
    position: relative;
    margin: 1px;
    width: 55%;
    left: 23%;
    max-width: 100px;
    display: inherit;
}

.left-nav img:nth-child(3)
{
	padding: 1px;
    border: 5px solid red;
    border-radius: 5px;
    background-color: #909090;
}

.right-nav img
{
    height: auto;
    position: relative;
    margin: 1px;
    width: 55%;
    left: 23%;
    max-width: 100px;
    display: inherit;
}

.brick-wall
{
    position: relative;
    width: 7vw;
    height: 9vh;
    margin-left: .25vw;
    background-image: url(resources/brick.jpg);
    background-repeat: repeat-y| repeat-x;
}
